@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700,900');
.main.container {
    h1 {
        color: $blue;
        font-family: $font-patrick;
        font-size: 42px;
        margin-bottom: 15px;
        @include respond-to('screen-sm') {
            font-size: 38px;
        }
        @include respond-to('screen-xs') {
            font-size: 32px;
        }
    }

    h2 {
        color: $blue;
        font-family: $font-patrick;
        font-size: 36px;
        margin-bottom: 15px;
        @include respond-to('screen-sm') {
            font-size: 32px;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
        }
        &.custom-h2 {
            color: $blue;
            font-family: $font-patrick;
            font-size: 42px;
            margin-bottom: 15px;
            margin-top: 0;
            @include respond-to('screen-sm') {
                font-size: 38px;
            }
            @include respond-to('screen-xs') {
                font-size: 32px;
                text-align: center!important;
            }
        }
    }

    h4 {
        font-family: $font-patrick;
        font-size: 32px;
        margin-bottom: 15px;
        color: $blue;
        @include respond-to('screen-sm') {
            font-size: 28px;
        }
        @include respond-to('screen-xs') {
            font-size: 26px;
        }
    }

    h3 {
        font-family: $font-patrick;
        font-size: 32px;
        color: $blue;
        @include respond-to('screen-sm') {
            font-size: 28px;
        }
        @include respond-to('screen-sm') {
            font-size: 28px;
        }
        @include respond-to('screen-xs') {
            font-size: 26px;
        }
    }

    p {
        color: $blue;
        font-family: $font-lato;
        font-size: 18px;
        @include respond-to('screen-sm') {
            font-size: 17px;
        }
        @include respond-to('screen-xs') {
            font-size: 18px;
            text-align: center;
        }
        a {
            @include respond-to('screen-sm') {
                font-size: 17px;
            }
            @include respond-to('screen-xs') {
                font-size: 18px;
                text-align: center;
            }
        }
    }

    hr {
        border-top: 1px solid $blue;
    }

    button {
        font-family: $font-lato;
        font-weight: 700;
        background: $white;
        color: $blue !important;
        padding: 5px 50px;
        font-size: 24px;
        border: 1px solid $blue!important;
    }
}

.right-content {
    padding-right: 15px!important;
}

.left-content {
    .vc_column-inner {
        @include respond-to('screen-xs') {
            padding-top: 0!important;
        }
    }
}

.no-padding {
    padding: 0;
}

.centered {
    padding: 0 150px;
    @include respond-to('screen-sm') {
        padding: 0 75px;
    }
    @include respond-to('screen-xs') {
        padding: 0 15px;
    }
}

.sections-padding {
    padding: 30px 0;
}