//Gutter Width
$grid-gutter-width: 30px !default;

//Screen
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//Container
$container-tablet: (720px + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;
$container-desktop: (940px + $grid-gutter-width) !default;
$container-md: $container-desktop !default;
$container-large-desktop: (1140px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;

//Grid Columns
$grid-columns: 12 !default;
$base-url: '../fonts/';

//Font Family
$font-lato: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
$font-patrick: "Patrick Hand", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;

//Colors
$white: #ffffff;
$yellow: #dcc300;
$light-yellow: #c79c2d;
$blue: #003663;
$light-blue: #046797;