#footer {
    .footer-links {
        background: $blue;
        padding: 30px 0;
        .bwt-footer-column {
            h4 {
                font-family: $font-lato;
                font-size: 24px;
                text-decoration: underline;
                font-weight: 700;
                color: $light-yellow;
                @include respond-to('screen-sm') {
                    font-size: 21px;
                }
                @include respond-to('screen-xs') {
                    font-size: 21px;
                }
            }
            ul {
                padding-left: 0;
                list-style: none;
                @include respond-to('screen-xs') {
                    margin-bottom: 25px;
                }
                li {
                    &:before {
                        content: ">";
                        font-family: $font-lato;
                        color: $light-yellow;
                        font-size: 18px;
                        font-weight: 700;
                        padding-right: 5px;
                        @include respond-to('screen-xs') {
                            font-size: 18px;
                        }
                    }
                    a {
                        font-family: $font-lato;
                        color: $light-yellow;
                        font-size: 18px;
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
            iframe {
                margin: auto;
                display: table;
                border: 5px solid #fff;
                border-radius: 5px;
                @include respond-to('screen-sm') {
                    width: 240px;
                    height: 193px;
                }
                @include respond-to('screen-xs') {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            &:last-of-type {
                .bwt-footer-description {
                    float: right;
                    @include respond-to('screen-xs') {
                        float: none;
                    }
                    img {
                        margin: auto;
                        display: table;
                        margin-bottom: 5px;
                    }
                    p {
                        font-family: $font-lato;
                        color: $light-yellow;
                        font-size: 18px;
                        text-align: center;
                        margin-bottom: 20px;
                        @include respond-to('screen-sm') {
                            font-size: 17px;
                        }
                        @include respond-to('screen-xs') {
                            font-size: 17px;
                            text-align: left;
                        }
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                        &:first-of-type{
                            margin-bottom: 0;
                        }
                        a {
                            font-family: $font-lato;
                            color: $light-yellow;
                            font-size: 18px;
                            text-align: center;
                            display: table;
                            margin: auto;
                            @include respond-to('screen-sm') {
                                font-size: 17px;
                            }
                            @include respond-to('screen-xs') {
                                font-size: 17px;
                                    margin: 0;
                            }
                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-copyright {
        background: $light-blue;
        padding: 10px 0;
        .footer-text {
            font-family: $font-lato;
            font-size: 13px;
            text-align: center;
            color: $white;
        }
    }
}