.navbar {
    &.navbar-default {
        @include respond-to('screen-xs') {
            background: none;
            min-height: initial;
            border: 0;
            margin: 0;
        }
        #navbar {
            @include respond-to('screen-xs') {
                background: $light-blue;
                border: none;
            }
            ul {
                padding: 0 15px;
                li {
                    &.active {
                        a {
                            @include respond-to('screen-xs') {
                                background: none;
                            }
                        }
                    }
                    a {
                        @include respond-to('screen-xs') {
                            font-family: $font-lato;
                            font-size: 16px;
                            color: $yellow;
                            text-transform: uppercase;
                            font-weight: 700;
                            padding: 10px 0;
                        }
                        &:hover,
                        &:focus {
                            @include respond-to('screen-xs') {
                                color: $light-yellow;
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

#bwt-header {
    .bwt-header-top {
        background: $blue;
        @include respond-to('screen-xs') {
            padding-bottom: 25px;
        }
        .col-sm-3 {
            padding-right: 0;
        }
        .bwt-logo {
            position: relative;
            top: 30px;
            a {
                @include respond-to('screen-xs') {
                    display: table;
                    margin: auto;
                    width: 220px;
                    margin-top: 15px;
                }
            }
            img {
                width: 220px;
                margin-right: 0;
                display: table;
                margin-left: auto;
                @include respond-to('screen-xs') {
                    margin: auto;
                }
            }
        }
        button {
            @include respond-to('screen-xs') {
                margin: 0;
                top: -157px;
                margin-right: 15px;
                background: $white;
            }
            .icon-bar {
                @include respond-to('screen-xs') {
                    background: $blue;
                }
            }
        }
        p {
            color: $yellow;
            font-family: $font-lato;
            font-size: 24px;
            text-align: right;
            font-weight: 700;
            margin-top: 15px;
            @include respond-to('screen-sm') {
                font-size: 21px;
            }
            @include respond-to('screen-xs') {
                display: none;
            }
            a {
                color: $yellow;
                font-family: $font-lato;
                font-size: 24px;
                text-align: right;
                font-weight: 700;
                @include respond-to('screen-sm') {
                    font-size: 21px;
                }
                &:hover {
                    color: $light-yellow;
                }
                img {
                    width: 30px;
                    height: auto;
                    vertical-align: baseline;
                    margin-left: 10px;
                }
            }
        }
    }
    .bwt-header-bottom {
        background: $light-blue;
        .col-sm-3 {
            @include respond-to('screen-xs') {
                display: none;
            }
        }
        .col-sm-9 {
            padding-left: 0;
        }
        nav {
            margin: 0;
            border: 0;
            min-height: auto;
            .collapse {
                padding: 0;
            }
            ul {
                li {
                    &.open {
                        a {
                            background: none;
                        }
                        .dropdown-menu {
                            background: $light-blue;
                            text-align: left;
                            border: 0;
                            padding: 0 15px;
                            border-radius: 0;
                            margin-top: 5px;
                            right: 0;
                            left: 0;
                            min-width: 230px;
                            li {
                                a {
                                    text-align: center;
                                    white-space: initial;
                                    @include respond-to('screen-xs') {
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                    .caret {
                        border-width: 7px;
                        margin-top: -4px;
                        @include respond-to('screen-md') {
                            border-width: 6px;
                            margin-top: -4px;
                            margin-left: 0;
                        }
                        @include respond-to('screen-sm') {
                            border-width: 5px;
                            margin-left: 5px;
                            position: absolute;
                            right: -15px;
                            top: 44%;
                            z-index: 110;
                            margin-top: 0;
                        }
                    }
                    a {
                        font-family: $font-lato;
                        font-size: 18px;
                        color: $yellow;
                        text-align: right;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 10px 0;
                        @include respond-to('screen-sm') {
                            font-size: 15px;
                        }
                        &:hover,
                        &:focus {
                            color: $light-yellow;
                            background: none;
                        }
                    }
                }
            }
            &:last-child {
                a {
                    padding-right: 0;
                }
            }
        }
    }
}