@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
.font-patrick-hand {
    font-family: 'Patrick Hand', cursive;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

#bwt-header .bwt-header-top {
    background: #003663;
}

#bwt-header .bwt-header-top .bwt-logo {
    position: relative;
    top: 30px;
}

#bwt-header .bwt-header-top .bwt-logo img {
    width: 280px;
    margin-right: 0;
    display: table;
    margin-left: auto;
}

#bwt-header .bwt-header-top .col-sm-3{
    padding-right:0;
}

#bwt-header .bwt-header-top p,
#bwt-header .bwt-header-top p a {
    color: #dcc300;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-align: right;
    font-weight: 700;
}

#bwt-header .bwt-header-top p {
    margin-top: 15px;
}

#bwt-header .bwt-header-top p a img {
    width: 30px;
    height: auto;
    vertical-align: baseline;
    margin-left: 10px;
}

#bwt-header .bwt-header-bottom {
    background: #046797;
}

#bwt-header .bwt-header-bottom nav {
    margin: 0;
    border: 0;
    min-height: auto;
}

#bwt-header .bwt-header-bottom .col-sm-9{
    padding-left:0;
}

#bwt-header .bwt-header-bottom nav .collapse{
    padding:0;
}

#bwt-header .bwt-header-bottom nav ul li a{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #dcc300;
    text-align: right;
        text-transform: uppercase;
    font-weight: 700;
}
#bwt-header .bwt-header-bottom nav ul li:last-child a{
    padding-right:0;
}


@media (min-width: 1024px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media only screen and (max-width: 767px) {}
