@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,700,900");
.main.container h1 {
  color: #003663;
  font-family: "Patrick Hand", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 42px;
  margin-bottom: 15px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .main.container h1 {
      font-size: 38px; } }
  @media screen and (max-width: 767px) {
    .main.container h1 {
      font-size: 32px; } }

.main.container h2 {
  color: #003663;
  font-family: "Patrick Hand", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 36px;
  margin-bottom: 15px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .main.container h2 {
      font-size: 32px; } }
  @media screen and (max-width: 767px) {
    .main.container h2 {
      font-size: 28px; } }
  .main.container h2.custom-h2 {
    color: #003663;
    font-family: "Patrick Hand", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 42px;
    margin-bottom: 15px;
    margin-top: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      .main.container h2.custom-h2 {
        font-size: 38px; } }
    @media screen and (max-width: 767px) {
      .main.container h2.custom-h2 {
        font-size: 32px;
        text-align: center !important; } }

.main.container h4 {
  font-family: "Patrick Hand", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 32px;
  margin-bottom: 15px;
  color: #003663; }
  @media (min-width: 768px) and (max-width: 991px) {
    .main.container h4 {
      font-size: 28px; } }
  @media screen and (max-width: 767px) {
    .main.container h4 {
      font-size: 26px; } }

.main.container h3 {
  font-family: "Patrick Hand", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 32px;
  color: #003663; }
  @media (min-width: 768px) and (max-width: 991px) {
    .main.container h3 {
      font-size: 28px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .main.container h3 {
      font-size: 28px; } }
  @media screen and (max-width: 767px) {
    .main.container h3 {
      font-size: 26px; } }

.main.container p {
  color: #003663;
  font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .main.container p {
      font-size: 17px; } }
  @media screen and (max-width: 767px) {
    .main.container p {
      font-size: 18px;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .main.container p a {
      font-size: 17px; } }
  @media screen and (max-width: 767px) {
    .main.container p a {
      font-size: 18px;
      text-align: center; } }

.main.container hr {
  border-top: 1px solid #003663; }

.main.container button {
  font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
  background: #ffffff;
  color: #003663 !important;
  padding: 5px 50px;
  font-size: 24px;
  border: 1px solid #003663 !important; }

.right-content {
  padding-right: 15px !important; }

@media screen and (max-width: 767px) {
  .left-content .vc_column-inner {
    padding-top: 0 !important; } }

.no-padding {
  padding: 0; }

.centered {
  padding: 0 150px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .centered {
      padding: 0 75px; } }
  @media screen and (max-width: 767px) {
    .centered {
      padding: 0 15px; } }

.sections-padding {
  padding: 30px 0; }

@media screen and (max-width: 767px) {
  .navbar.navbar-default {
    background: none;
    min-height: initial;
    border: 0;
    margin: 0; } }

@media screen and (max-width: 767px) {
  .navbar.navbar-default #navbar {
    background: #046797;
    border: none; } }

.navbar.navbar-default #navbar ul {
  padding: 0 15px; }
  @media screen and (max-width: 767px) {
    .navbar.navbar-default #navbar ul li.active a {
      background: none; } }
  @media screen and (max-width: 767px) {
    .navbar.navbar-default #navbar ul li a {
      font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
      font-size: 16px;
      color: #dcc300;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 0; } }
  @media screen and (max-width: 767px) {
    .navbar.navbar-default #navbar ul li a:hover, .navbar.navbar-default #navbar ul li a:focus {
      color: #c79c2d;
      background: none; } }

#bwt-header .bwt-header-top {
  background: #003663; }
  @media screen and (max-width: 767px) {
    #bwt-header .bwt-header-top {
      padding-bottom: 25px; } }
  #bwt-header .bwt-header-top .col-sm-3 {
    padding-right: 0; }
  #bwt-header .bwt-header-top .bwt-logo {
    position: relative;
    top: 30px; }
    @media screen and (max-width: 767px) {
      #bwt-header .bwt-header-top .bwt-logo a {
        display: table;
        margin: auto;
        width: 220px;
        margin-top: 15px; } }
    #bwt-header .bwt-header-top .bwt-logo img {
      width: 220px;
      margin-right: 0;
      display: table;
      margin-left: auto; }
      @media screen and (max-width: 767px) {
        #bwt-header .bwt-header-top .bwt-logo img {
          margin: auto; } }
  @media screen and (max-width: 767px) {
    #bwt-header .bwt-header-top button {
      margin: 0;
      top: -157px;
      margin-right: 15px;
      background: #ffffff; } }
  @media screen and (max-width: 767px) {
    #bwt-header .bwt-header-top button .icon-bar {
      background: #003663; } }
  #bwt-header .bwt-header-top p {
    color: #dcc300;
    font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 24px;
    text-align: right;
    font-weight: 700;
    margin-top: 15px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #bwt-header .bwt-header-top p {
        font-size: 21px; } }
    @media screen and (max-width: 767px) {
      #bwt-header .bwt-header-top p {
        display: none; } }
    #bwt-header .bwt-header-top p a {
      color: #dcc300;
      font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
      font-size: 24px;
      text-align: right;
      font-weight: 700; }
      @media (min-width: 768px) and (max-width: 991px) {
        #bwt-header .bwt-header-top p a {
          font-size: 21px; } }
      #bwt-header .bwt-header-top p a:hover {
        color: #c79c2d; }
      #bwt-header .bwt-header-top p a img {
        width: 30px;
        height: auto;
        vertical-align: baseline;
        margin-left: 10px; }

#bwt-header .bwt-header-bottom {
  background: #046797; }
  @media screen and (max-width: 767px) {
    #bwt-header .bwt-header-bottom .col-sm-3 {
      display: none; } }
  #bwt-header .bwt-header-bottom .col-sm-9 {
    padding-left: 0; }
  #bwt-header .bwt-header-bottom nav {
    margin: 0;
    border: 0;
    min-height: auto; }
    #bwt-header .bwt-header-bottom nav .collapse {
      padding: 0; }
    #bwt-header .bwt-header-bottom nav ul li.open a {
      background: none; }
    #bwt-header .bwt-header-bottom nav ul li.open .dropdown-menu {
      background: #046797;
      text-align: left;
      border: 0;
      padding: 0 15px;
      border-radius: 0;
      margin-top: 5px;
      right: 0;
      left: 0;
      min-width: 230px; }
      #bwt-header .bwt-header-bottom nav ul li.open .dropdown-menu li a {
        text-align: center;
        white-space: initial; }
        @media screen and (max-width: 767px) {
          #bwt-header .bwt-header-bottom nav ul li.open .dropdown-menu li a {
            text-align: left; } }
    #bwt-header .bwt-header-bottom nav ul li .caret {
      border-width: 7px;
      margin-top: -4px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #bwt-header .bwt-header-bottom nav ul li .caret {
          border-width: 6px;
          margin-top: -4px;
          margin-left: 0; } }
      @media (min-width: 768px) and (max-width: 991px) {
        #bwt-header .bwt-header-bottom nav ul li .caret {
          border-width: 5px;
          margin-left: 5px;
          position: absolute;
          right: -15px;
          top: 44%;
          z-index: 110;
          margin-top: 0; } }
    #bwt-header .bwt-header-bottom nav ul li a {
      font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
      font-size: 18px;
      color: #dcc300;
      text-align: right;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 0; }
      @media (min-width: 768px) and (max-width: 991px) {
        #bwt-header .bwt-header-bottom nav ul li a {
          font-size: 15px; } }
      #bwt-header .bwt-header-bottom nav ul li a:hover, #bwt-header .bwt-header-bottom nav ul li a:focus {
        color: #c79c2d;
        background: none; }
    #bwt-header .bwt-header-bottom nav:last-child a {
      padding-right: 0; }

#footer .footer-links {
  background: #003663;
  padding: 30px 0; }
  #footer .footer-links .bwt-footer-column h4 {
    font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 24px;
    text-decoration: underline;
    font-weight: 700;
    color: #c79c2d; }
    @media (min-width: 768px) and (max-width: 991px) {
      #footer .footer-links .bwt-footer-column h4 {
        font-size: 21px; } }
    @media screen and (max-width: 767px) {
      #footer .footer-links .bwt-footer-column h4 {
        font-size: 21px; } }
  #footer .footer-links .bwt-footer-column ul {
    padding-left: 0;
    list-style: none; }
    @media screen and (max-width: 767px) {
      #footer .footer-links .bwt-footer-column ul {
        margin-bottom: 25px; } }
    #footer .footer-links .bwt-footer-column ul li:before {
      content: ">";
      font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
      color: #c79c2d;
      font-size: 18px;
      font-weight: 700;
      padding-right: 5px; }
      @media screen and (max-width: 767px) {
        #footer .footer-links .bwt-footer-column ul li:before {
          font-size: 18px; } }
    #footer .footer-links .bwt-footer-column ul li a {
      font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
      color: #c79c2d;
      font-size: 18px; }
      #footer .footer-links .bwt-footer-column ul li a:hover {
        color: #dcc300; }
  #footer .footer-links .bwt-footer-column iframe {
    margin: auto;
    display: table;
    border: 5px solid #fff;
    border-radius: 5px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #footer .footer-links .bwt-footer-column iframe {
        width: 240px;
        height: 193px; } }
    @media screen and (max-width: 767px) {
      #footer .footer-links .bwt-footer-column iframe {
        width: 100%;
        margin-bottom: 20px; } }
  #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description {
    float: right; }
    @media screen and (max-width: 767px) {
      #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description {
        float: none; } }
    #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description img {
      margin: auto;
      display: table;
      margin-bottom: 5px; }
    #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p {
      font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
      color: #c79c2d;
      font-size: 18px;
      text-align: center;
      margin-bottom: 20px; }
      @media (min-width: 768px) and (max-width: 991px) {
        #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p {
          font-size: 17px; } }
      @media screen and (max-width: 767px) {
        #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p {
          font-size: 17px;
          text-align: left; } }
      #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p:last-of-type {
        margin-bottom: 0; }
      #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p:first-of-type {
        margin-bottom: 0; }
      #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p a {
        font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
        color: #c79c2d;
        font-size: 18px;
        text-align: center;
        display: table;
        margin: auto; }
        @media (min-width: 768px) and (max-width: 991px) {
          #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p a {
            font-size: 17px; } }
        @media screen and (max-width: 767px) {
          #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p a {
            font-size: 17px;
            margin: 0; } }
        #footer .footer-links .bwt-footer-column:last-of-type .bwt-footer-description p a:hover {
          color: #dcc300; }

#footer .footer-copyright {
  background: #046797;
  padding: 10px 0; }
  #footer .footer-copyright .footer-text {
    font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 13px;
    text-align: center;
    color: #ffffff; }

.floating-bg .main-bg .wpb_single_image {
  height: 400px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .floating-bg .main-bg .wpb_single_image {
      height: 360px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .floating-bg .main-bg .wpb_single_image {
      height: 320px; } }
  @media screen and (max-width: 767px) {
    .floating-bg .main-bg .wpb_single_image {
      height: 285px; } }
  .floating-bg .main-bg .wpb_single_image img {
    display: none; }

.floating-bg .yellow-skew .vc_column-inner {
  width: 412px;
  height: 400px;
  background: #c79c2d;
  padding: 0 15px;
  position: relative;
  z-index: 274; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .floating-bg .yellow-skew .vc_column-inner {
      width: 386px;
      height: 360px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .floating-bg .yellow-skew .vc_column-inner {
      width: 299px;
      height: 320px; } }
  @media screen and (max-width: 767px) {
    .floating-bg .yellow-skew .vc_column-inner {
      width: 100%;
      height: 100%; } }
  .floating-bg .yellow-skew .vc_column-inner h1 {
    margin-top: 0; }
  .floating-bg .yellow-skew .vc_column-inner:before {
    content: "";
    background: #c79c2d;
    height: 100%;
    transform: skew(-10deg) rotate(2deg);
    -webkit-transform: skew(-15deg) rotate(2deg);
    -moz-transform: skew(-10deg) rotate(2deg);
    color: transparent;
    position: absolute;
    top: 0;
    left: -75px;
    height: 103%;
    width: 180px;
    z-index: -95;
    box-shadow: -7px 0 19px rgba(35, 31, 32, 0.32); }
    @media (min-width: 768px) and (max-width: 991px) {
      .floating-bg .yellow-skew .vc_column-inner:before {
        left: -64px; } }
    @media screen and (max-width: 767px) {
      .floating-bg .yellow-skew .vc_column-inner:before {
        display: none; } }
  .floating-bg .yellow-skew .vc_column-inner:after {
    background: #c79c2d;
    content: "";
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -95; }
    @media screen and (max-width: 767px) {
      .floating-bg .yellow-skew .vc_column-inner:after {
        display: none; } }
  .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 400px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper {
        height: 360px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper {
        height: 320px;
        position: relative;
        left: -10px; } }
    @media screen and (max-width: 767px) {
      .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper {
        height: 100%;
        padding: 50px 15px; } }
    .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper:before {
      content: "";
      background: url(../img/img-tranlucent-tree.png);
      width: 100%;
      position: absolute;
      background-position: center center;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: table-cell;
      vertical-align: middle;
      background-size: contain; }
      @media (min-width: 768px) and (max-width: 991px) {
        .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper:before {
          width: 300px; } }
      @media screen and (max-width: 767px) {
        .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper:before {
          background-size: 270px; } }
    .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper .wpb_wrapper {
      display: initial;
      height: auto;
      vertical-align: initial; }
      @media screen and (max-width: 767px) {
        .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper .wpb_wrapper {
          padding: 0; } }
      .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper .wpb_wrapper:before {
        display: none; }
    .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper h1 {
      font-size: 42px;
      font-family: "Patrick Hand", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
      position: relative;
      z-index: 200;
      margin-bottom: 15px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper h1 {
          font-size: 38px; } }
      @media screen and (max-width: 767px) {
        .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper h1 {
          font-size: 32px; } }
    .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper p {
      font-size: 24px;
      font-family: "Patrick Hand", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
      color: #ffffff;
      position: relative;
      z-index: 200; }
      @media (min-width: 768px) and (max-width: 991px) {
        .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper p {
          font-size: 21px; } }
      @media screen and (max-width: 767px) {
        .floating-bg .yellow-skew .vc_column-inner .wpb_wrapper p {
          font-size: 22px; } }

.floating-bg .vc_column_container > .vc_column-inner {
  padding-top: 0 !important; }

.floating-bg .vc_column_container .wpb_content_element {
  margin-bottom: 0; }

.right-content p a {
  color: #003663;
  text-decoration: underline; }

.no-spacing .vc_column-inner {
  padding-top: 0 !important; }

.no-spacing .wpb_text_column,
.no-spacing .wpb_single_image {
  margin-bottom: -1px; }

.call-to-action {
  margin-bottom: 0 !important;
  display: block !important; }
  .call-to-action button {
    position: absolute !important;
    top: 0 !important;
    background: none !important;
    text-indent: -999px;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    text-align: center !important;
    margin: auto;
    display: table !important;
    left: 0 !important;
    right: 0 !important; }
    .call-to-action button:before {
      content: "";
      background: url(../img/img-play.png);
      display: table;
      width: 109px;
      height: 89px;
      background-repeat: no-repeat;
      text-align: center;
      margin: auto; }
      @media screen and (max-width: 767px) {
        .call-to-action button:before {
          width: 65px;
          height: 56px;
          background-size: contain; } }

.call-now .vc_column-inner {
  padding-top: 0 !important; }

.call-now .vc_btn3-inline {
  margin-bottom: 0;
  vertical-align: middle; }
  @media screen and (max-width: 767px) {
    .call-now .vc_btn3-inline {
      display: table !important;
      margin: auto; } }
  .call-now .vc_btn3-inline button,
  .call-now .vc_btn3-inline a {
    font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 700;
    background: #ffffff;
    color: #003663 !important;
    padding: 5px 50px;
    font-size: 24px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .call-now .vc_btn3-inline button,
      .call-now .vc_btn3-inline a {
        padding: 5px 40px;
        font-size: 21px; } }

.call-now .wpb_wrapper {
  display: table;
  margin: 23px auto; }

.call-now h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 60px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .call-now h2 {
      margin-right: 20px; } }
  @media screen and (max-width: 767px) {
    .call-now h2 {
      margin-right: 0;
      margin-bottom: 20px; } }

.custom-rounded img {
  border-radius: 50%;
  border: 8px solid #ffffff; }
  @media (min-width: 768px) and (max-width: 991px) {
    .custom-rounded img {
      width: 180px;
      height: 180px; } }
  @media screen and (max-width: 767px) {
    .custom-rounded img {
      width: 180px;
      height: 180px; } }

@media screen and (max-width: 767px) {
  .sections-padding .wpb_single_image {
    margin-bottom: 10px; } }

@media screen and (max-width: 767px) {
  .sections-padding h3 {
    margin-top: 0;
    margin-bottom: 30px; } }

.inner-main-title {
  border-bottom: 5px solid #ffffff; }
  .inner-main-title .vc_column-inner {
    padding-top: 0 !important; }
    .inner-main-title .vc_column-inner h2 {
      margin-bottom: 0;
      padding: 10px 0; }

.inner-content-tree .vc_col-sm-3 {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.inner-content-tree .vc_col-sm-6 {
  display: table-cell;
  vertical-align: middle;
  float: none; }
  @media screen and (max-width: 767px) {
    .inner-content-tree .vc_col-sm-6 {
      padding: 0 15px; } }

.inner-content-tree p {
  color: #dcc300; }

.inner-content-tree .vc_single_image-wrapper img {
  padding: 0 25px; }

.landing-image .wpb_single_image {
  margin-bottom: 10px; }
  .landing-image .wpb_single_image img {
    width: 470px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .landing-image .wpb_single_image img {
        width: 380px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .landing-image .wpb_single_image img {
        width: 320px; } }

@media screen and (max-width: 767px) {
  .landing-image .vc_align_right {
    text-align: center !important; } }

.landing-content ol {
  width: 490px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .landing-content ol {
      width: 415px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .landing-content ol {
      width: 335px; } }
  @media screen and (max-width: 767px) {
    .landing-content ol {
      width: 100%;
      padding-right: 20px; } }

.landing-content ul {
  width: 490px;
  display: table;
  margin-right: 15px;
  margin-left: auto; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .landing-content ul {
      width: 415px;
      margin-right: 30px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .landing-content ul {
      width: 335px;
      margin-right: 30px; } }
  @media screen and (max-width: 767px) {
    .landing-content ul {
      width: 100%;
      padding-right: 20px;
      margin-top: 20px; } }

.landing-content li {
  font-size: 18px;
  font-weight: normal;
  font-family: "Lato", "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  color: #003663;
  line-height: 1.42857143;
  margin-bottom: 15px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .landing-content li {
      font-size: 17px; } }

.landing-image .custom-h2 {
  padding: 15px 30px;
  margin-bottom: 35px; }
  .landing-image .custom-h2.bottom-5 {
    margin-bottom: 10px; }

@media screen and (max-width: 767px) {
  .column-reverse {
    display: flex;
    flex-direction: column-reverse; } }

.mobile-padding .vc_column-inner {
  padding-top: 5px !important; }
