.floating-bg {
    .main-bg {
        .wpb_single_image {
            height: 400px;
            @include respond-to('screen-md') {
                height: 360px;
            }
            @include respond-to('screen-sm') {
                height: 320px;
            }
            @include respond-to('screen-xs') {
                height: 285px;
            }
            img {
                display: none;
            }
        }
    }
    .yellow-skew {
        .vc_column-inner {
            width: 412px;
            height: 400px;
            background: #c79c2d;
            padding: 0 15px;
            position: relative;
            z-index: 274;
            @include respond-to('screen-md') {
                width: 386px;
                height: 360px;
            }
            @include respond-to('screen-sm') {
                width: 299px;
                height: 320px;
            }
            @include respond-to('screen-xs') {
                width: 100%;
                height: 100%;
            }
            h1 {
                margin-top: 0;
            }
            &:before {
                content: "";
                background: $light-yellow;
                height: 100%;
                transform: skew(-10deg) rotate(2deg);
                -webkit-transform: skew(-15deg) rotate(2deg);
                -moz-transform: skew(-10deg) rotate(2deg);
                color: transparent;
                position: absolute;
                top: 0;
                left: -75px;
                height: 103%;
                width: 180px;
                z-index: -95;
                box-shadow: -7px 0 19px rgba(35, 31, 32, 0.32);
                @include respond-to('screen-sm') {
                    left: -64px;
                }
                @include respond-to('screen-xs') {
                    display: none;
                }
            }
            &:after {
                background: $light-yellow;
                content: "";
                height: 100%;
                width: 200px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -95;
                @include respond-to('screen-xs') {
                    display: none;
                }
            }
            .wpb_wrapper {
                display: table-cell;
                vertical-align: middle;
                height: 400px;
                @include respond-to('screen-md') {
                    height: 360px;
                }
                @include respond-to('screen-sm') {
                    height: 320px;
                    position: relative;
                    left: -10px;
                }
                @include respond-to('screen-xs') {
                    height: 100%;
                    padding: 50px 15px;
                }
                &:before {
                    content: "";
                    background: url(../img/img-tranlucent-tree.png);
                    width: 100%;
                    position: absolute;
                    background-position: center center;
                    background-repeat: no-repeat;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: table-cell;
                    vertical-align: middle;
                    background-size: contain;
                    @include respond-to('screen-sm') {
                        width: 300px;
                    }
                    @include respond-to('screen-xs') {
                        background-size: 270px;
                    }
                }
                .wpb_wrapper {
                    display: initial;
                    height: auto;
                    vertical-align: initial;
                    @include respond-to('screen-xs') {
                        padding: 0;
                    }
                    &:before {
                        display: none;
                    }
                }
                h1 {
                    font-size: 42px;
                    font-family: $font-patrick;
                    position: relative;
                    z-index: 200;
                    margin-bottom: 15px;
                    @include respond-to('screen-sm') {
                        font-size: 38px;
                    }
                    @include respond-to('screen-xs') {
                        font-size: 32px;
                    }
                }
                p {
                    font-size: 24px;
                    font-family: $font-patrick;
                    color: $white;
                    position: relative;
                    z-index: 200;
                    @include respond-to('screen-sm') {
                        font-size: 21px;
                    }
                    @include respond-to('screen-xs') {
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .vc_column_container {
        &>.vc_column-inner {
            padding-top: 0!important;
        }
        .wpb_content_element {
            margin-bottom: 0;
        }
    }
}

.right-content {
    p {
        a {
            color: $blue;
            text-decoration: underline;
        }
    }
}

.no-spacing {
    .vc_column-inner {
        padding-top: 0!important;
    }
    .wpb_text_column,
    .wpb_single_image {
        margin-bottom: -1px;
    }
}

.call-to-action {
    margin-bottom: 0!important;
    display: block!important;
    button {
        position: absolute !important;
        top: 0 !important;
        background: none !important;
        text-indent: -999px;
        padding: 0 !important;
        width: 100%;
        height: 100%;
        text-align: center!important;
        margin: auto;
        display: table!important;
        left: 0!important;
        right: 0!important;
        &:before {
            content: "";
            background: url(../img/img-play.png);
            display: table;
            width: 109px;
            height: 89px;
            background-repeat: no-repeat;
            text-align: center;
            margin: auto;
            @include respond-to('screen-xs') {
                width: 65px;
                height: 56px;
                background-size: contain;
            }
        }
    }
}

.call-now {
    .vc_column-inner {
        padding-top: 0!important;
    }
    .vc_btn3-inline {
        margin-bottom: 0;
        vertical-align: middle;
        @include respond-to('screen-xs') {
            display: table!important;
            margin: auto;
        }
        button,
        a {
            font-family: $font-lato;
            font-weight: 700;
            background: $white;
            color: $blue!important;
            padding: 5px 50px;
            font-size: 24px;
            @include respond-to('screen-sm') {
                padding: 5px 40px;
                font-size: 21px;
            }
        }
    }
    .wpb_wrapper {
        display: table;
        margin: 23px auto;
    }
    h2 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        margin-right: 60px;
        @include respond-to('screen-sm') {
            margin-right: 20px;
        }
        @include respond-to('screen-xs') {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

.custom-rounded {
    img {
        border-radius: 50%;
        border: 8px solid $white;
        @include respond-to('screen-sm') {
            width: 180px;
            height: 180px;
        }
        @include respond-to('screen-xs') {
            width: 180px;
            height: 180px;
        }
    }
}

.sections-padding {
    .wpb_single_image {
        @include respond-to('screen-xs') {
            margin-bottom: 10px;
        }
    }

    h3 {
        @include respond-to('screen-xs') {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
}