.inner-main-title {
    border-bottom: 5px solid $white;
    .vc_column-inner {
        padding-top: 0!important;
        h2 {
            margin-bottom: 0;
            padding: 10px 0;
        }
    }
}

.inner-content-tree {
    .vc_col-sm-3 {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
    .vc_col-sm-6 {
        display: table-cell;
        vertical-align: middle;
        float: none;
        @include respond-to('screen-xs') {
            padding: 0 15px;
        }
    }
    p {
        color: $yellow;
    }
    .vc_single_image-wrapper {
        img {
            padding: 0 25px;
        }
    }
}


.landing-image {
    .wpb_single_image {
        margin-bottom: 10px;
        img {
            width: 470px;
            @include respond-to('screen-md') {
                width: 380px;
            }
            @include respond-to('screen-sm') {
                width: 320px;
            }
        }
    }
    .vc_align_right {
        @include respond-to('screen-xs') {
            text-align: center!important;
        }
    }
}

.landing-content {
    ol {
        width: 490px;
        @include respond-to('screen-md') {
            width: 415px;
        }
        @include respond-to('screen-sm') {
            width: 335px;
        }
        @include respond-to('screen-xs') {
            width: 100%;
            padding-right: 20px;
        }
    }
    ul {
        width: 490px;
        display: table;
        margin-right: 15px;
        margin-left: auto;
        @include respond-to('screen-md') {
            width: 415px;
            margin-right: 30px;
        }
        @include respond-to('screen-sm') {
            width: 335px;
            margin-right: 30px;
        }
        @include respond-to('screen-xs') {
            width: 100%;
            padding-right: 20px;
            margin-top: 20px;
        }
    }
    li {
        font-size: 18px;
        font-weight: normal;
        font-family: $font-lato;
        color: $blue;
        line-height: 1.42857143;
        margin-bottom: 15px;
        @include respond-to('screen-md') {
            font-size: 17px;
        }
    }
}

.landing-image {
    .custom-h2 {
        padding: 15px 30px;
        margin-bottom: 35px;
        &.bottom-5 {
            margin-bottom: 10px;
        }
    }
}

.column-reverse {
    @include respond-to('screen-xs') {
        display: flex;
        flex-direction: column-reverse;
    }
}



.mobile-padding {
    .vc_column-inner {
        padding-top: 5px!important;
    }
}